$color-bg-primary: rgb(240,238,239);
$color-text-primary: #797570;
$color-text-accent: #DBCBAB;

$color-bg-inverse: #797570;
$color-text-inverse: $color-bg-primary;

// BOOTSTRAP VARS

// $navbar-default-color:             $color-text-primary !default;
// $navbar-default-bg:                $color-bg-primary !default;
// $navbar-default-border:            transparent !default;

// // Navbar links
// $navbar-default-link-color:                $color-text-primary !default;
// $navbar-default-link-hover-color:          #333 !default;
// $navbar-default-link-hover-bg:             transparentize($color-text-accent, .85) !default;
// $navbar-default-link-active-color:         #555 !default;
// $navbar-default-link-active-bg:            transparentize($color-text-accent, .7) !default;
// $navbar-default-link-disabled-color:       #ccc !default;
// $navbar-default-link-disabled-bg:          transparent !default;

// // Navbar brand label
// $navbar-default-brand-color:               $color-text-accent !default;
// $navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
// $navbar-default-brand-hover-bg:            transparent !default;

// // Navbar toggle
// $navbar-default-toggle-hover-bg:           #ddd !default;
// $navbar-default-toggle-icon-bar-bg:        #888 !default;
// $navbar-default-toggle-border-color:       #ddd !default;

// Import bootstrap / font-awesome
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "../bower_components/fontawesome/scss/font-awesome";

//BOOTSTRAP OVERRIDES
.container-fluid {
  margin: 0;
  padding: 0;

  .content {
    max-width: 1000px;
    margin: auto;
  }
}

.row-fluid {
  &.section {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
  }
  // &.section:first-child {
  //   padding-top: 0px;
  // }
  &.section:last-child {
    padding-bottom: 15px;
  }
}

.row {
  margin: 0;
}

p {
  padding: 0px 15px;
  font-weight: 300;
}

h1,h2,h3,h4,h5,h6, .navbar, .logo {
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  color: $color-text-accent;
}

.text-primary {
  color: $color-text-primary;
}

//END

body,html {
  position: relative;
  height: 100%;
}

body {
  padding-top: 50px;
  font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}

.page {
  height: 100%;
  width: 100%;
}

.wide {
  position: relative;
  width: 100%;
  height: 30%;
  background-size: cover;
}

.wide img {
  width:100%;
}

.caption {
  background: $color-bg-primary;
  color: $color-text-accent;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .8;
}

.logo {
  color: $color-text-accent;
  font-size:14pt;
  padding:10px;
  text-align:right;
}

.line {
  height: 1em;
  margin-top: 35px;

  &.line-primary {
    background-color: $color-text-accent;
    border-top: .4em solid $color-bg-primary;
    border-bottom: .4em solid $color-bg-primary;
  }
}

.separator {
  width: 100%;
  margin: 20px auto 15px;
  position: relative;
  height: 1px;
}
.separator:after {
  height: 1px;
  position: absolute;
  bottom: -1px;
  content: "";
  width: 100%;
  left: 0;
}

.primary {
  background: $color-bg-primary;
  color: $color-text-primary;

  .separator:after {
    background: $color-text-primary;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(35%, rgba(0, 0, 0, 0.09)), color-stop(70%, rgba(0, 0, 0, 0.09)), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.09) 70%, rgba(0, 0, 0, 0) 100%);
  }
}

.inverse {
  background: $color-bg-inverse;
  color: $color-text-inverse;

  a {
    color: $color-text-accent;
  }

  .separator:after {
    background: $color-text-inverse;
    background: -moz-linear-gradient(left, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0.09) 35%, rgba(255,255,255, 0.09) 70%, rgba(255,255,255, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255, 0)), color-stop(35%, rgba(255,255,255, 0.09)), color-stop(70%, rgba(255,255,255, 0.09)), color-stop(100%, rgba(255,255,255, 0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0.09) 35%, rgba(255,255,255, 0.09) 70%, rgba(255,255,255, 0) 100%);
    background: linear-gradient(to right, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0.09) 35%, rgba(255,255,255, 0.09) 70%, rgba(255,255,255, 0) 100%);
  }
}

.box {
  padding: 15px;
  // margin: 10px;
}

ui-view {
  height: 100%;
}

@import "../app/activities/activities";
@import "../app/home/home";
@import "../app/itinerary/itinerary";
@import "../app/photos/photos";
@import "../app/registry/registry";
@import "../app/travel/travel";

// set open sans for all h1s and merriwether for all else
@media (min-width: 600px) {
  #travel, #itinerary, #activities, #home {
    .wide {
      height: 70%;
    }
  }
}
