#photos {
  .wide {
    background: url(/images/banner/Luca.jpg) no-repeat center center;
    background-size: cover;
  }

  .caption {
    background: none;
  }

  .flex-row {
    min-height: 100%;
  }

  .flex-item {
    position: relative;
    margin: 7.5px 0px;

    > img {
      width: 100%;
    }

  }
}

@media (min-width: 800px) {
  #photos {
    .flex-item {
      margin: 7.5px;

      > img {
        width: inherit;
        height: 200px;
      }
    }
  }
}

@media (min-width: 900px) {
  #photos {
    .flex-item > img {
      width: inherit;
      height: 250px;
    }
  }
}

@media (min-width: 1150px) {
  #photos {
    .flex-item > img {
      height: 300px;
    }
  }
}

@media (min-width: 1250px) {
  #photos {
    .flex-item > img {
      height: 320px;
    }
  }
}

@media (min-width: 1350px) {
  #photos {
    .flex-item > img {
      height: 350px;
    }
  }
}
