#photos {
  .wide {
    background: url(/images/banner/Luca.jpg) no-repeat center center;
    background-size: cover;
  }

  .caption {
    background: none;
  }

  .flex-item {
    position: relative;

    > img {
      width: 100%;
    }

  }
}

@media (min-width: 700px) {
  #photos {
    .flex-item > img {
      width: inherit;
      height: 200px;
    }
  }
}

@media (min-width: 1150px) {
  #photos {
    .flex-item > img {
      height: 300px;
    }
  }
}

@media (min-width: 1250px) {
  #photos {
    .flex-item > img {
      height: 320px;
    }
  }
}

@media (min-width: 1350px) {
  #photos {
    .flex-item > img {
      height: 350px;
    }
  }
}
