html {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	font-size: 12px;
	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	/*small size background: */
	/*background-color: #797570;*/
	/*color: #DBCBAB;*/
	color: #797570;
}

#main {
	position: relative;
	height: 92vh; /*100 - fixed nav height*/
	width: 100vw;
	padding-top: 8vh; /*fixed nav height*/
	overflow-y: scroll;
	/*color: white;*/

	display: -webkit-flex;
	display: flex;

	-webkit-justify-content: center;
	justify-content: center;

	-webkit-align-items: center;
	align-items: center;

	font-size: 15px;
}

#brand {
	margin-left: 1vw;
	margin-right: auto;

	-webkit-align-items: cetner;
	align-items: center;

	display: none;

	cursor: pointer;
}
#brand span {
	transition: all 1s ease-in-out;
}

nav {
	background-color: white;

	position: fixed; /*for iphone IF SCROLL*/
	top: 0;
	z-index: 1000;
	width: 100vw;

	color: #DBCBAB;

	height: 8vh;

	display: -webkit-flex;
	display: flex;

	-webkit-justify-content: center;
	justify-content: center;

	-webkit-align-items: cetner;
	align-items: cetner;

	-webkit-tap-highlight-color: transparent;

	box-shadow: rgba(0,0,0,0.5) 0 3px 3px;
	border-bottom: 1px;
}
nav ul {
	padding-left: 1vw;
	padding-right: 1vw;
	margin: 0;

	display: -webkit-flex;
	display: flex;

	-webkit-align-items: center;
	align-items: center;

	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

nav li {
	list-style: none;
	height: 7vh;
	width: 11vh;

	text-align: center;
	/*color: rgba(255,255,255,0.9);*/
	font-size: 1.5vh;

	cursor: pointer;

	display: -webkit-flex;
	display: flex;

	-webkit-flex-direction: column;
	flex-direction: column;

	-webkit-justify-content: center;
	justify-content: center;

	-webkit-align-items: center;
	align-items: center;
}

nav li:focus {
	background: black;
}

nav li.active {
	border-bottom: 3px solid #DBCBAB;
}

.active {
	color: #DBCBAB;
}

section.visible {
	display: -webkit-flex;
	display: flex;
}

section {
	background-color: rgba(255,255,255,0.4);

	height: 100%;

	-webkit-flex: 1;
	flex: 1;

	-webkit-justify-content: flex-start;
	justify-content: flex-start;

	-webkit-align-items: center;
	align-items: center;

	-webkit-flex-direction: column;
	flex-direction: column;

	display: none;
	overflow-y: scroll;
}

section .img-container {
	width: 100vw;
	min-height: 35vh;
}

section .content-container {
	flex: 1;
	-webkit-flex: 1;
	width: 100vw;

	-webkit-justify-content: flex-start;
	justify-content: flex-start;

	-webkit-align-items: center;
	align-items: center;

	-webkit-flex-direction: column;
	flex-direction: column;
}

/*section .heading {
	color: white;
	background-color: #DBCBAB;
	text-align: center;
	padding: .3em;
}*/

section .content {
	/*margin: 1.5vw;*/
	padding: 0 1.5vw;
}

section .content-box {
	width: 100vw;
	border-bottom: 1px solid #DBCBAB; /*MAYBE ONLY THIS BORDER IN MOBILE*/
	text-align: center;
}

section .content-box h1 {
	/*text-decoration: underline;*/
	color: #DBCBAB;
}

section .content-box a {
	/*text-decoration: underline;*/
	color: #797570;
	font-weight: bold;
}

.secondary {
	color: white;
	background-color: #797570;
}

#home-content {
	position: fixed;
	bottom: 0;
	height: 8vh;
	width: 100vw;

	background-color: rgba(255,255,255,.9);
	color: #DBCBAB;
	text-align: right;

	display: -webkit-flex;
	display: flex;

	-webkit-justify-content: center;
	justify-content: center;

	-webkit-align-items: center;
	align-items: center;
}
#home-content h1 {
	font-size: 2.5vh;
	padding: 0px 15px;
}


#wedding-day .img-container {
	background: url(/mv-banner3.jpg) no-repeat center center;
	background-size: cover;
}
#travel .img-container {
	background: url(/ct-banner.jpg) no-repeat center center;
	background-size: cover;
}
#activities .img-container {
	background: url(/tau-banner.jpg) no-repeat center center;
	background-size: cover;
}

#registry ul {
	margin: 0;
	padding: 0;
}
#registry li {
	list-style: none;
	width: 100vw;
	height: 23vh;
}
#registry li:nth-child(even) {
	background: black;
}
#registry li:nth-child(odd) {
	background: white;
}
#registry a {
	height: 100%;
	width: 100%;

	display: -webkit-flex;
	display: flex;

	-webkit-justify-content: center;
	justify-content: center;

	-webkit-align-items: center;
	align-items: center;
}

#registry img {
	width: 50vw;
}

.calendar-text { margin-top: .3em; }

.row {
	display: -webkit-flex;
	display: flex;

	-webkit-flex-direction: column;
	flex-direction: column;

	-webkit-justify-content: center;
	justify-content: center;
}


@media (min-width: 550px) {
	#home {
		height: 100%;
		background: url(/couple6.jpg) no-repeat center;
		background-size: cover;
	}

	#home-content {
		background-color: transparent;
		-webkit-justify-content: flex-end;
		justify-content: flex-end;
	}
	#home-content h1 {
		font-size: 2.5vh;
	}

	#main {
		padding-top: 50px;
		height: calc(100vh - 50px);
		font-size: 13px;
	}

	#brand {
		display: block;
	}

	nav {
		-webkit-justify-content: flex-end;
		justify-content: flex-end;
		height: 50px;
	}

	nav li {
		height: 47px; /*for underline effect to reach bottom of nav*/
		min-width: 125px;
		font-size: 13px;
		font-weight: 700;
	}

	nav li .fa {
		display: none;
	}

	section .img-container {
		min-height: 66vh;
	}

	#registry li {
		height: calc((100vh - 50px) / 4);
	}

	#registry img {
		width: 45vw;
	}

	.row {
		-webkit-flex-direction: row;
		flex-direction: row;

		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.content-box {
		/*display: flex;*/
		flex: 1;
		/*margin: 5px;	*/
		/*min-width: 24vw;*/
		/*max-width: 32vw;*/
		/*max-height: 20vw;*/
		/*min-width: 200px;*/
		/*min-height: 200px;*/
		/*margin: 5px;*/
		/*box-shadow: rgba(0,0,0,0.5) 0 3px 3px;	*/
	}

}
